<#import "/frameV2.html" as frame />
<@frame.frame csss=[] scripts=[] locations=["模块资源","编辑资源"]>
<div class="wrapper wrapper-content  animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
			<form class="form-horizontal m-t" id="resourceForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">资源名称：<span id="resourceValueError"></span></label>
                        <div class="col-sm-8">
                            <input id="resourceValue" name="resourceValue" class="form-control" type="text"
                            	 placeholder="请输入资源名称" 
                            	 data-parsley-required="true"
								 data-parsley-required-message="资源名称不可为空"
								 data-parsley-maxlength="50"
								 data-parsley-maxlength-message="资源名称不能超过50"
								 data-parsley-errors-container="#resourceValueError"
								 value="${resource.resourceValue!}"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">资源代码：<span id="resourceKeyError"></span></label>
                        <div class="col-sm-8">
                            <input id="resourceKey" name="resourceKey" class="form-control" type="text"
                             	 placeholder="请输入资源代码"
                             	 data-parsley-required-message="资源代码不能为空"
                             	 data-parsley-required="true"
								 data-parsley-maxlength="50"
								 data-parsley-maxlength-message="资源代码不能超过50" 
								 data-parsley-errors-container="#resourceKeyError"
								 value="${resource.resourceKey!}"
							>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">资源URL：<span id="urlError"></span></label>
                        <div class="col-sm-8">
                            <input id="url" name="url" class="form-control" type="text"
                             	 placeholder="请输入资源URL" 
								 data-parsley-maxlength="50"
								 data-parsley-maxlength-message="资源URL不能超过50" 
								 data-parsley-errors-container="#urlError"
								 value="${resource.url!}"
							>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label">资源Icon：<span id="menuIconError"></span></label>
                        <div class="col-sm-8">
	                        <input id="menuIcon" name="menuIcon" class="form-control" type="text"
	                             	 placeholder="请输入资源Icon" 
									 data-parsley-maxlength="50"
									 data-parsley-maxlength-message="资源Icon不能超过50" 
									 data-parsley-errors-container="#menuIconError"
									 value="${resource.menuIcon!}"
								>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">资源排序：<span id="orderByError"></span></label>
                        <div class="col-sm-8">
	                        <input id="orderBy" name="orderBy" class="form-control" type="text"
	                             	 placeholder="请输入排序" 
	                             	 data-parsley-required="true"
									 data-parsley-maxlength="50"
									 data-parsley-maxlength-message="排序" 
									 data-parsley-errors-container="#orderByError"
									 value="${resource.orderBy!}"
								>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">资源类型：<span id="typeError"></span></label>
                        <div class="col-sm-8">
             				<select class="form-control" name="type" 
             				data-parsley-required="true" 
             				data-parsley-required-message="资源类型不可为空" 
             				data-parsley-errors-container="#typeError"
             				onchange="changeLevel(this)">
                          		<option value="1" <#if (resource.type)??&&resource.type == 1>selected</#if>>菜单</option>
                          		<option value="2" <#if (resource.type)??&&resource.type == 2>selected</#if>>功能</option>
                     	    </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">资源级别：<span id="levelError"></span></label>
                        <div class="col-sm-8">
             				<select class="form-control" name="level" id="selectLevel"
             				data-parsley-required="true" 
             				data-parsley-required-message="资源级别不可为空" 
             				data-parsley-errors-container="#levelError" 
             				>
             					<option value="">请选择资源级别</option>
             					<#if (resource.type)??&&resource.type == 1>
	             					<option value="1" <#if (resource.level)??&&resource.level == 1>selected</#if>>一级（菜单）</option>
	                          		<option value="2" <#if (resource.level)??&&resource.level == 2>selected</#if>>二级（菜单）</option>
	                          		<option value="3" <#if (resource.level)??&&resource.level == 3>selected</#if>>三级（菜单）</option>
                          		</#if>
                          		<#if (resource.type)??&&resource.type == 2>
	             					<option value="4" <#if (resource.level)??&&resource.level == 4>selected</#if>>四级（功能）</option>
                          		</#if>
                     	    </select>
                        </div>
                    </div>
					<div class="form-group">
						<label class="col-sm-3 control-label">上级资源：<span id="parentIdError"></span></label>
						<div class="col-sm-8">
                            <input type="text" class="form-control" name="parentName" id="parentName" value="${resource.parentName!}" placeholder="双击选择上级资源" readOnly />
							<input type="hidden" name="parentId" id="parentId" value="${resource.parentId!}"/>
						</div>
					</div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">系统模块：<span id="moduleIdError"></span></label>
                        <div class="col-sm-8">
             				<select class="form-control" name="moduleId" data-parsley-required="true" data-parsley-required-message="系统模块不可为空" data-parsley-errors-container="#moduleIdError"  >
                   	 			<option value="">请选择系统模块</option>
                   	 			<#if (modules)?? && (modules)?size gt 0>
                             	 	<#list modules as module>
                             	 		<option value="${module.moduleId}" <#if (resource.moduleId)??&&resource.moduleId == module.moduleId>selected</#if>>${module.moduleName!}</option>
                             		</#list>
                             	</#if>
                     	    </select>
                        </div>
                    </div>
                    <div class="form-group">
				        <div class="text-center">
				            <a class="btn btn-primary" href="javascript:void(0);" onclick="submitFm()">提交</a>
				            <a class="btn btn-default" href="javascript:history.go(-1);" >返回</a>
				        </div>
				    </div>
				    <input type="hidden" name="id" value="${resource.id!}"/> 
                </form>
		</div>
	</div>
</div>
<div class="dialogBox" id="dialogBox">
 <ul id="resourceTree" class="ztree"></ul>
</div>
</@frame.frame> 
<@frame.script>
<script>
	function changeLevel(t){
		var obj=document.getElementById('selectLevel'); 
		obj.options.length=0;
		if(t.value == 1){
			obj.options.add(new Option("一级（菜单）","1"));
			obj.options.add(new Option("二级（菜单）","2"));
			obj.options.add(new Option("三级（菜单）","3"));
		}else{
			obj.options.add(new Option("四级（功能）","4"));
		}
	}
	function submitFm() {
		if ($('#resourceForm').parsley().validate()) {
			$.ajax({
				cache : true,
				type : "POST",
				url : "${basePath}/resource/save",
				data : $('#resourceForm').serialize(),
				async : true,
				error : function(request) {
					parent.layer.alert("服务器异常！");
				},
				success : function(data) {
					if (systemshop.toJson(data).success) {
						parent.layer.alert('保存成功！', {
							icon : 1,
							skin : 'layer-ext-moon'
						},function(e){
							parent.layer.close(e);
							window.location.href="${basePath}/resource/list?moduleId=${resource.moduleId!}&parentId=${resource.parentId!}";
						});
					} else {
						parent.layer.alert('保存失败！提示：'+systemshop.toJson(data).message);
					}
				}
			});
		}
	}
    $(document).ready(function(){
        $('#parentName').dblclick(function(){
            var v = $('#parentId').val();
            openResource(v);
		});
    });
    function openResource(id){
        var path = "${basePath}/resource/tree?id="+id;
		parent.layer.open({
		    type: 2,
		    title: '选择上级资源',
		    shadeClose: true,
		    shade: 0.8,
		    maxmin: false, //开启最大化最小化按钮
		    area: ['350px', '35%'],
		    content: path, //iframe的url
		    cancel: function(index){
		    },
		    success: function (layero, index) {
		    	systemshop.initFrame({layFrame:layero,frameId:"${basePath}/module/main"});
	        }
		});
    }
    function callbackTree(data){
        $('#parentName').val(data.name);
        $('#parentId').val(data.id);
	}
</script>
</@frame.script>
