<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.manage.dao.JobLogDao">
  <resultMap id="BaseResultMap" type="com.shop.manage.dto.JobLogDTO">
  	<id column="id" jdbcType="INT" property="id" />
  	<result column="job_name" jdbcType="VARCHAR" property="jobName" />
  	<result column="description" jdbcType="VARCHAR" property="description" />
  	<result column="excute_time" jdbcType="DATETIME" property="excuteTime" />
  	<result column="create_time" jdbcType="DATETIME" property="createTime" />
  	<result column="update_time" jdbcType="DATETIME" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
   id,job_name,description,excute_time,create_time,update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_job_log
   <where>  
  	and id = #{id,jdbcType=INT}
  </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Map">
    delete from t_job_log
    <where>  
  	and id = #{id,jdbcType=INT}
  </where>
  </delete>
  
  <insert id="insertSelective" parameterType="com.shop.manage.dto.JobLogDTO">
    insert into t_job_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
	  <if test="id != null">
        id,
      </if>
  	  <if test="jobName != null">
  		job_name,
  	  </if>
  	  <if test="description != null">
  		description,
  	  </if>
  	  <if test="excuteTime != null">
  		excute_time,
  	  </if>
  	  <if test="createTime != null">
  		create_time,
  	  </if>
  	  <if test="updateTime != null">
  		update_time,
  	  </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
	  <if test="id != null">
		#{id,jdbcType=INT},
      </if>
	  <if test="jobName != null">
		#{jobName,jdbcType=VARCHAR},
      </if>
	  <if test="description != null">
		#{description,jdbcType=VARCHAR},
      </if>
	  <if test="excuteTime != null">
		#{excuteTime,jdbcType=DATETIME},
      </if>
	  <if test="createTime != null">
		#{createTime,jdbcType=DATETIME},
      </if>
	  <if test="updateTime != null">
		#{updateTime,jdbcType=DATETIME},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.manage.dto.JobLogDTO">
    update t_job_log
    <set>
	  <if test="jobName != null">
		job_name = #{jobName,jdbcType=VARCHAR},
      </if>
	  <if test="description != null">
		description = #{description,jdbcType=VARCHAR},
      </if>
	  <if test="excuteTime != null">
		excute_time = #{excuteTime,jdbcType=DATETIME},
      </if>
	  <if test="createTime != null">
		create_time = #{createTime,jdbcType=DATETIME},
      </if>
	  <if test="updateTime != null">
		update_time = #{updateTime,jdbcType=DATETIME},
      </if>
    </set>
   <where>  
  	and id = #{id,jdbcType=INT}
  </where>
  </update>
  
  <select id="findSplitPage" parameterType="Map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_job_log
  </select>
  
</mapper>