<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.manage.dao.ModuleDao">
  <resultMap id="BaseResultMap" type="com.shop.manage.dto.ModuleDTO">
  	<id column="module_id" jdbcType="INT" property="moduleId" />
  	<result column="icon" jdbcType="VARCHAR" property="icon" />
  	<result column="module_name" jdbcType="VARCHAR" property="moduleName" />
  	<result column="description" jdbcType="VARCHAR" property="description" />
  	<result column="order_by" jdbcType="INT" property="orderBy" />
  	<result column="status" jdbcType="INT" property="status" />
  	<result column="create_time" jdbcType="DATETIME" property="createTime" />
  	<result column="update_time" jdbcType="DATETIME" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
   module_id,icon,module_name,description,order_by,status,create_time,update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_module
   <where>  
  	and module_id = #{moduleId,jdbcType=INT}
  </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Map">
    delete from t_module
    <where>  
  	and module_id = #{moduleId,jdbcType=INT}
  </where>
  </delete>
  
  <insert id="insertSelective" parameterType="com.shop.manage.dto.ModuleDTO">
    insert into t_module
    <trim prefix="(" suffix=")" suffixOverrides=",">
	  <if test="moduleId != null">
        module_id,
      </if>
  	  <if test="icon != null">
  		icon,
  	  </if>
  	  <if test="moduleName != null">
  		module_name,
  	  </if>
  	  <if test="description != null">
  		description,
  	  </if>
  	  <if test="orderBy != null">
  		order_by,
  	  </if>
  	  <if test="status != null">
  		status,
  	  </if>
  	  <if test="createTime != null">
  		create_time,
  	  </if>
  	  <if test="updateTime != null">
  		update_time,
  	  </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
	  <if test="moduleId != null">
		#{moduleId,jdbcType=INT},
      </if>
	  <if test="icon != null">
		#{icon,jdbcType=VARCHAR},
      </if>
	  <if test="moduleName != null">
		#{moduleName,jdbcType=VARCHAR},
      </if>
	  <if test="description != null">
		#{description,jdbcType=VARCHAR},
      </if>
	  <if test="orderBy != null">
		#{orderBy,jdbcType=INT},
      </if>
	  <if test="status != null">
		#{status,jdbcType=INT},
      </if>
	  <if test="createTime != null">
		#{createTime,jdbcType=DATETIME},
      </if>
	  <if test="updateTime != null">
		#{updateTime,jdbcType=DATETIME},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.manage.dto.ModuleDTO">
    update t_module
    <set>
	  <if test="icon != null">
		icon = #{icon,jdbcType=VARCHAR},
      </if>
	  <if test="moduleName != null">
		module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
	  <if test="description != null">
		description = #{description,jdbcType=VARCHAR},
      </if>
	  <if test="orderBy != null">
		order_by = #{orderBy,jdbcType=INT},
      </if>
	  <if test="status != null">
		status = #{status,jdbcType=INT},
      </if>
	  <if test="createTime != null">
		create_time = #{createTime,jdbcType=DATETIME},
      </if>
	  <if test="updateTime != null">
		update_time = #{updateTime,jdbcType=DATETIME},
      </if>
    </set>
   <where>  
  	and module_id = #{moduleId,jdbcType=INT}
  </where>
  </update>
  
  <select id="findSplitPage" parameterType="Map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_module
  </select>
  
</mapper>